<%= form_with(model: declar, local: true) do |form| %>
  <% if declar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(declar.errors.count, "error") %> prohibited this declar from being saved:</h2>

      <ul>
        <% declar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :typa_id %>
    <%= form.text_field :typa_id %>
  </div>

  <div class="field">
    <%= form.label :reponse %>
    <%= form.text_field :reponse %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
