<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @declar.user %>
</p>

<p>
  <strong>Typa:</strong>
  <%= @declar.typa_id %>
</p>

<p>
  <strong>Reponse:</strong>
  <%= @declar.reponse %>
</p>

<%= link_to 'Edit', edit_declar_path(@declar) %> |
<%= link_to 'Back', declars_path %>
