<p id="notice"><%= notice %></p>

<h1>Typas</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Durre</th>
      <th>Hafa</th>
      <th>Vue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typas.each do |typa| %>
      <tr>
        <td><%= typa.titre %></td>
        <td><%= typa.durre %></td>
        <td><%= typa.hafa %></td>
        <td><%= typa.vue %></td>
        <td><%= link_to 'Show', typa %></td>
        <td><%= link_to 'Edit', edit_typa_path(typa) %></td>
        <td><%= link_to 'Destroy', typa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typa', new_typa_path %>
