<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @typa.titre %>
</p>

<p>
  <strong>Durre:</strong>
  <%= @typa.durre %>
</p>

<p>
  <strong>Hafa:</strong>
  <%= @typa.hafa %>
</p>

<p>
  <strong>Vue:</strong>
  <%= @typa.vue %>
</p>

<%= link_to 'Edit', edit_typa_path(@typa) %> |
<%= link_to 'Back', typas_path %>
